{%  extends 'base.html' %} }}

{%  block content %}
    <div class="container-fluid">
        <table class="table table-bordered table-sm">
            <tr>
                <th>Channel</th>
                <th>Services</th>
            </tr>
            {%  for channel in channels %}
                <tr>
                    <td>{{ channel.short_name }} - {{ channel.name }}</td>
                    <td>
                        {%  for tv in channel.tvs %}
                            {{ tv.name }} &nbsp;
                        {% endfor %}
                    </td>
                </tr>

            {% endfor %}
        </table>
        <a href="{{ url_for('add_channel') }}">Add Channel</a>

        <div>

        </div>
    </div>
{%  endblock %}