{%  extends 'base.html' %} }}

{%  block content %}
    <div class="container-fluid">
        <table class="table table-bordered table-sm">
            <tr>
                <th>Channel</th>
                <th>Services</th>
            </tr>
            {%  for channel in channels %}
                <tr>
                    <td><a href="{{ url_for('channel_edit', channel_id = channel.channel_id) }}">
                        {{ channel.short_name }} - {{ channel.name }}</a></td>
                    <td>
                        {%  for tv in channel.tvs %}
                            {{ tv.name }} &nbsp;
                        {% endfor %}
                    </td>
                </tr>

            {% endfor %}
        </table>
        <a href="{{ url_for('channel_add') }}">Add Channel</a>

        <div>

        </div>
    </div>
{%  endblock %}