{%  extends 'base.html' %} }}

{%  block content %}
    {%  for tv in tvs %}
        <div>
            {{ tv.name }} {{ tv.monthly_price }}
            {%  for channel in tv.channels %}
                {{ channel.name }}
            {% endfor %}
        </div>
    {%  endfor %}

    <div>
        {%  for channel in channels %}
            <div>{{ channel.name }}
                {%  for tv in channel.tvs %}
                    {{ tv.name }}
                {% endfor %}
            </div>

        {% endfor %}
    </div>

{%  endblock %}