{%  extends 'base.html' %} }}

{%  block content %}
    <div class="container-fluid">
        <table class="table table-bordered table-sm">
            <tr>
                <th>Select</th>
                <th>Service</th>
                <th>Monthly</th>
                <th>Channels</th>
            </tr>
            {%  for tv in tvs %}
                <tr>
                    <td> <input type="checkbox"
                                onclick="updateTotal();"
                                name="checkbox"
                                id="{{ tv.tv_id }}"> </td>
                    <td><a href="{{ url_for('service_edit', tv_id=tv.tv_id) }}">{{ tv.name }}</a></td>
                    <td>{{ tv.monthly_price }}</td>
                    <td>
                        {%  for channel in tv.channels %}
                            {{ channel.name }} &nbsp;
                        {% endfor %}
                    </td>
                </tr>
            {%  endfor %}
        </table>

        <div class="border border-solid">
            <div class="text-center">Total: </div>
        </div>

    </div>
{%  endblock %}